<div class="row player">
    <div class="large-12 small-12 columns large-centered">
        {{#with nowPlaying}}
            <div class="header row">
                <div class="cover large-12 small-12 columns">
                    <a href="{{permalink_url}}">
                        {{#if artwork_url}}
                            <img src="{{artwork_url}}" />
                        {{else}}
                            <img src="{{user.avatar_url}}" />
                        {{/if}}
                    </a>
                </div>
                <div class="waveform large-12 small-6 columns">
                </div>
            </div>
            <div class="row info ">
                <div class="song-name large-12 small-12 columns">
                    {{title}}
                </div>
                <div class="artist-name large-12 small-12 columns">
                    {{user.username}}
                </div>
            </div>
            <div class="row social">
                {{#ifCond purchase_url download_url}}
                    <div class="follow large-3 small-12 columns">
                        <a class="button expand follow-link" href="{{permalink_url}}"  target="_blank">
                            <img src="{{../staticUrl}}img/sc-dark.png"> FOLLOW
                        </a>
                    </div>
                {{else}}
                    <div class="follow large-6 small-12 columns">
                        <a class="button expand follow-link" href="{{permalink_url}}"  target="_blank">
                            <img src="{{../staticUrl}}img/sc-dark.png"> FOLLOW
                        </a>
                    </div>
                {{/ifCond}}
                <div class="current-song-info large-6 columns small-12">
                    <div class="track-info-plays large-3 small-3 columns">
                        <i class="fa fa-play-circle fw current-song-social-icon"></i>
                        {{playback_count}}
                    </div>
                    <div class="track-info-favorites large-3 small-3 columns">
                        <i class="fa fa-heart fw current-song-social-icon"></i>
                        {{favoritings_count}}
                    </div>
                    <div class="track-info-comments large-3 small-3 columns">
                        <i class="fa fa-comments fw current-song-social-icon"></i>
                        {{comments.length}}
                    </div>
                    <div class="track-info-downloads large-3 small-3 columns">
                        <i class="fa fa-download fw current-song-social-icon"></i>
                        {{download_count}}
                    </div>
                </div>
                {{#if purchase_url}}
                    <div class="buy large-3 small-12 columns">
                        <a class="button expand  buy-link" href="{{purchase_url}}" target="_blank">
                            BUY
                        </a>
                    </div>
                {{else}}
                    {{#if download_url}}
                        <div class="buy large-3 small-12 columns">
                            <a class="button expand buy-link" href="{{download_url}}" target="_blank">
                                DOWNLOAD
                            </a>
                        </div>
                    {{/if}}
                {{/if}}
            </div>
        {{/with}}
        <div class="row controls">
            <div class="buttons large-12 small-12 columns">
                <i class="fa fa-angle-double-left fw player-prev prev"></i>
                <i class="fa fa-play-circle-o fw player-play play"></i>
                <i class="fa fa-angle-double-right fw player-next next"></i>
            </div>
        </div>
        <div class="row scrubber">
            <div class="large-12 small-12 columns scrubber-box">
                <div class="large-1 small-1 columns start-time">0:00</div>
                <div class="large-10 small-10 columns scrub-bar-box">
                    <input type="text" class="scrubber-slider">
                </div>
                <div class="large-1 small-1 columns stop-time">
                    {{msToTimestamp nowPlaying.duration}}
                </div>
            </div>
        </div>
        <div class="row playlist">
            <table class="playlist-table" border=1>
                {{#each tracks}}
                    {{#if playing}}
                        <tr class="playing">
                    {{else}}
                        <tr class="track-info" data-index={{@index}}>
                    {{/if}}
                        {{#if playing}}
                            <td><i class="fa fa-play-circle fw current-play-icon" data-index={{@index}}></i></td>
                        {{else}}
                            <td><div class="track-info" data-index={{@index}}></td>
                        {{/if}}
                            <td>
                                <div class="track-info-name large-12 small-12columns">
                                    {{title}}
                                </div>
                            </td>
                            <td style="width:50%">
                                <div class="track-info-social large-12 small-12 columns">
                                    <div class="track-info-plays  small-3 large-3 columns">
                                        <i class="fa fa-play-circle fw playlist-social-icon"></i>
                                        {{playback_count}}
                                    </div>
                                    <div class="track-info-favorites small-3 large-3 columns">
                                        <i class="fa fa-heart fw playlist-social-icon"></i>
                                        {{favoritings_count}}
                                    </div>
                                    <div class="track-info-comments large-3 small-3 columns">
                                        <i class="fa fa-comments fw playlist-social-icon"></i>
                                        {{comments.length}}
                                    </div>
                                    <div class="track-info-downloads large-3 small-3 columns">
                                        <i class="fa fa-download fw playlist-social-icon"></i>
                                        {{download_count}}
                                    </div>
                                </div>
                            </td>
                    </tr>
                {{/each}}
            </div>
        </div>
    </div>
</div>
