<div class="td tdrow player {{skin}} mini">
    {{#unless nowPlaying}}
    <div class="tdspinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
    {{/unless}}
    {{#with nowPlaying}}
        <div class="tdlarge-1 tdsmall-12 tdcolumns controls mini-controls">
            <div class="buttons mini-buttons tdlarge-12 tdsmall-12 tdcolumns">
                <i class="fa fa-angle-double-left fw player-prev prev"></i>
                <i class="fa fa-play-circle-o fw player-play play"></i>
                <i class="fa fa-angle-double-right fw player-next next"></i>
            </div>
        </div>
        <div class="tdlarge-3 tdsmall-12 tdcolumns mini-scrubber">
            <div class="tdlarge-12 tdsmall-12 tdcolumns scrubber-box">
                <div class="tdlarge-2 tdsmall-2 tdcolumns start-time">0:00</div>
                <div class="tdlarge-8 tdsmall-8 tdcolumns scrub-bar-box">
                    <input type="text" class="scrubber-slider">
                </div>
                <div class="tdlarge-2 tdsmall-2 tdcolumns stop-time">
                    {{msToTimestamp nowPlaying.duration}}
                    <i class="fa fw fa-spinner fa-spin tdloader"></i>
                </div>
            </div>
        </div>
        <div class="tdlarge-4 tdsmall-12 tdcolumns mini-info">
            <div class="mini-song-info tdlarge-12 tdsmall-12 tdcolumns">
                <div class="tdlarge-12 tdsmall-12 columns song-name">
                    <a href="{{permalink_url}}" target="_blank">{{title}}</a>
                </div>
                <div class="tdlarge-12 tdsmall-12 columns artist-name">
                    <a href="{{user.permalink_url}}" target="_blank">{{user.username}}</a>
                </div>
            </div>
        </div>
        <ul class="tdlarge-3 tdsmall-12 tdcolumns mini-social">
            <li class="track-info-plays">
                <i class="fa fa-play-circle fw current-song-social-icon"></i>
                {{commanator playback_count}}
            </li>
            <li class="track-info-favorites">
                <i class="fa fa-heart fw current-song-social-icon"></i>
                {{commanator favoritings_count}}
            </li>
            <li class="track-info-comments">
                <i class="fa fa-comments fw current-song-social-icon"></i>
                {{commanator comment_count}}
            </li>
            {{!-- <li class="track-info-downloads">
                <i class="fa fa-download fw current-song-social-icon"></i>
                {{download_count}}
            </li> --}}
        </ul>
        <div class="tdlarge-1 tdsmall-12 tdcolumns mini-connect">
            {{#if purchase_url}}
                <div class="tdlarge-8 tdsmall-6 tdcolumns buy">
                    <a class="button expand buy-link" href="{{permalink_url}}"  target="_blank">
                        BUY
                    </a>
                </div>
            {{else}}
                <div class="tdlarge-8 tdsmall-6 tdcolumns buy">
                    <a class="button expand buy-link" href="{{download_url}}?client_id=6f85bdf51b0a19b7ab2df7b969233901"  target="_blank">
                        DOWNLOAD
                    </a>
                </div>
            {{/if}}    
            {{#ifCond purchase_url download_url}}
                <div class="tdlarge-4 tdsmall-6 tdcolumns follow">
                    <a class="button expand follow-link" href="{{permalink_url}}"  target="_blank">
                        <i class="fa soundcloud-icon fw playlist-social-icon"></i>
                        {{!-- FOLLOW --}}
                    </a>
                </div>
            {{else}}
                <div class="tdlarge-4 tdsmall-6 tdcolumns follow">
                    <a class="button expand follow-link" href="{{permalink_url}}"  target="_blank">
                        <i class="fa soundcloud-icon fw playlist-social-icon"></i>
                        {{!-- FOLLOW --}}
                    </a>
                </div>
            {{/ifCond}}
        </div
    {{/with}}
</div>
