<div class="td tdrow player {{skin}} solo">
    {{#unless nowPlaying}}
    <div class="tdspinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
    {{/unless}}
    <div class="tdlarge-12 tdsmall-12 tdcolumns tdlarge-centered tdsmall-centered">
        <a href="https://www.toneden.io" target="_blank" class="tdicon-td_logo-link"><i class="tdicon-td_logo"></i></a>
        {{#with nowPlaying}}
            <div class="header tdlarge-4 tdsmall-12 tdcolumns">
                <div class="cover tdlarge-12 tdsmall-12 tdcolumns">
                    <div class="solo-cover">
                        {{#if artwork_url}}
                            <img src="{{artwork_url}}" />
                        {{else}}
                            <img src="{{user.avatar_url}}" />
                        {{/if}}
                    </div>
                    <div class="controls">
                        <div class="buttons tdlarge-12 tdsmall-12 tdcolumns">
                            <i class="tdicon-angle-double-left player-prev prev"></i> 
                            <i class="tdicon-play-circle-outline player-play play"></i>
                            <i class="tdicon-angle-double-right player-next next"></i>
                        </div>
                    </div>
                </div>
                <div class="waveform tdlarge-12 tdsmall-12 tdcolumns">
                </div>
                <div class="solo-buttons tdlarge-12 tdsmall-12 tdcolumns">
                    {{#ifCond purchase_url download_url}}
                        <div class="follow tdlarge-6 tdsmall-12 tdcolumns">
                            <a class="tdbutton expand follow-link" href="{{permalink_url}}"  target="_blank">
                                <i class="tdicon-soundcloud playlist-social-icon"></i>
                                FOLLOW
                            </a>
                        </div>
                    {{else}}
                        <div class="follow tdlarge-12 tdsmall-12 tdcolumns">
                            <a class="tdbutton expand follow-link" href="{{permalink_url}}"  target="_blank">
                                <i class="tdicon-soundcloud playlist-social-icon"></i>
                                FOLLOW
                            </a>
                        </div>
                    {{/ifCond}}
                    {{#if purchase_url}}
                        <div class="buy tdlarge-6 tdsmall-12 tdcolumns">
                            <a class="tdbutton expand buy-link" href="{{purchase_url}}" target="_blank">
                                BUY
                            </a>
                        </div>
                    {{else}}
                        {{#if download_url}}    
                            <div class="buy tdlarge-6 tdsmall-12 tdcolumns">
                                <a class="tdbutton expand buy-link" href="{{download_url}}?client_id=6f85bdf51b0a19b7ab2df7b969233901" target="_blank">
                                    DOWNLOAD
                                </a>
                            </div>
                        {{/if}}
                    {{/if}}
                </div>
            </div>
            <div class="solo-container tdlarge-8 tdsmall-12 tdcolumns">
                <div class="tdrow info-solo">
                    <div class="tdlarge-2 tdsmall-12 tdcolumns repeat-column">
                        {{#if ../repeat}}
                            <i class="tdicon-repeat repeat-on repeat-init"></i>
                        {{else}}
                            <i class="tdicon-repeat repeat-init"></i>
                        {{/if}}
                    </div>
                    <div class="tdlarge-8 tdsmall-12 tdcolumns info">
                        <div class="song-name tdlarge-12 tdsmall-12 tdcolumns">
                            <a href="{{permalink_url}}" target="_blank">{{title}}</a>
                        </div>
                        <div class="artist-name tdlarge-12 tdsmall-12 tdcolumns">
                            <a href="{{user.permalink_url}}" target="_blank">{{user.username}}</a>
                        </div>
                    </div>
                    <div class="volume-controls tdlarge-2 tdsmall-12 tdcolumns">
                        <i class="tdicon-volume-up volume-init"></i>
                        <div class="tdlarge-12 tdmsall-12 tdcolumns tdlarge-centered tdmsall-centered volume-select" style="display:none;">
                            <i class="tdicon-volume-off volume-off" data-class="tdicon-volume-off"></i>
                            <i class="tdicon-volume-down volume-med" data-class="tdicon-volume-down"></i>
                            <i class="tdicon-volume-up volume-max volume-active" data-class="tdicon-volume-up"></i>
                        </div>
                    </div>
                </div>
                {{#if error}}
                    <div class="tdrow">
                        <div class="tdlarge-12 tdsmall-12 tdcolumns">
                            <div class="tdlarge-12 tdsmall-12 tdcolumns track-error-box">
                                <span class="track-error-box-span"><i class="tdicon-warning"></i> {{errorMessage}} </span>
                            </div>
                        </div>
                    </div>
                {{else}}
                    {{#if streamable}}
                        <div class="tdrow scrubber">
                            <div class="tdlarge-12 tdsmall-12 tdcolumns scrubber-box">
                                <div class="tdlarge-2 tdsmall-2 tdcolumns start-time">0:00</div>
                                <div class="tdlarge-8 tdsmall-8 tdcolumns scrub-bar-box">
                                    <input type="text" class="scrubber-slider">
                                </div>
                                <div class="tdlarge-2 tdsmall-2 tdcolumns stop-time">
                                    {{msToTimestamp nowPlaying.duration}}
                                    <i class="tdicon-circle-o-notch spin tdloader"></i>
                                </div>
                            </div>
                        </div>
                    {{else}}
                        <div class="tdrow">
                            <div class="tdlarge-12 tdsmall-12 tdcolumns">
                                <div class="tdlarge-12 tdsmall-12 tdcolumns track-error-box">
                                    <span class="track-error-box-span"><i class="tdicon-warning"></i> This track is not streamable.</span>
                                </div>
                            </div>
                        </div>
                    {{/if}}
                {{/if}}
                <div class="tdrow social">
                    <div class="current-song-info tdlarge-12 tdcolumns tdsmall-12">
                        <div class="track-info-plays tdlarge-6 tdsmall-6 tdcolumns">
                            <i class="tdicon-play-circle-fill current-song-social-icon"></i>
                            {{commanator playback_count}}
                        </div>
                        <div class="track-info-favorites tdlarge-6 tdsmall-6 tdcolumns">
                            <i class="tdicon-heart current-song-social-icon"></i>
                            {{commanator favoritings_count}}
                        </div>
                        {{!-- <div class="track-info-downloads tdlarge-3 tdsmall-3 tdcolumns">
                            <i class="fa-download current-song-social-icon"></i>
                            {{download_count}}
                        </div> --}}
                    </div>
                </div>
            {{/with}}
        </div>
    </div>
</div>
