<div class="td tdrow player {{skin}}">
    {{#if loading}}
        <div class="tdspinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    {{/if}}
    <div class="tdbody tdlarge-12 tdsmall-12 tdcolumns tdlarge-centered">
        <a href="https://www.toneden.io" target="_blank" class="icon-td_logo-link"><i class="icon-td_logo"></i></a>
        {{#with nowPlaying}}
            <div class="header tdrow">
                <div class="cover tdlarge-12 tdsmall-12 tdcolumns">
                    <div class="cover-img">
                        {{#if artwork_url}}
                            <img src="{{artwork_url}}" />
                        {{else}}
                            <img src="{{user.avatar_url}}" />
                        {{/if}}
                    </div>
                </div>
                <div class="waveform tdlarge-12 tdsmall-6 tdcolumns">
                </div>
            </div>
            <div class="tdrow info ">
                <div class="song-name tdlarge-12 tdsmall-12 tdcolumns">
                    <a href="{{permalink_url}}" target="_blank">{{title}}</a>
                </div>
                <div class="artist-name tdlarge-12 tdsmall-12 tdcolumns">
                    <a href="{{user.permalink_url}}" target="_blank">{{user.username}}</a>
                </div>
            </div>
            <div class="tdrow social">
                {{#ifCond purchase_url download_url}}
                    <div class="follow tdlarge-3 tdsmall-12 tdcolumns">
                        <a class="tdbutton expand follow-link" href="{{permalink_url}}"  target="_blank">
                            <i class="icon-soundcloud playlist-social-icon"></i>
                            FOLLOW
                        </a>
                    </div>
                {{else}}
                    <div class="follow tdlarge-6 tdsmall-12 tdcolumns">
                        <a class="tdbutton expand follow-link" href="{{permalink_url}}"  target="_blank">
                            <i class="icon-soundcloud playlist-social-icon"></i>
                            FOLLOW
                        </a>
                    </div>
                {{/ifCond}}
                <div class="current-song-info tdlarge-6 tdcolumns tdsmall-12">
                    <div class="track-info-plays tdlarge-6 tdsmall-6 tdcolumns">
                        <i class="icon-play-circle-fill current-song-social-icon"></i>
                        {{commanator playback_count}}
                    </div>
                    <div class="track-info-favorites tdlarge-6 tdsmall-6 tdcolumns">
                        <i class="icon-heart current-song-social-icon"></i>
                        {{commanator favoritings_count}}
                    </div>
                </div>
                {{#if purchase_url}}
                    <div class="buy tdlarge-3 tdsmall-12 tdcolumns">
                        <a class="tdbutton expand  buy-link" href="{{purchase_url}}" target="_blank">
                            BUY
                        </a>
                    </div>
                {{else}}
                    {{#if download_url}}
                        <div class="buy tdlarge-3 tdsmall-12 tdcolumns">
                            <a class="tdbutton expand buy-link" href="{{download_url}}?client_id=6f85bdf51b0a19b7ab2df7b969233901" target="_blank">
                                DOWNLOAD
                            </a>
                        </div>
                    {{/if}}
                {{/if}}
            </div>
            <div class="tdrow controls">
                <div class="buttons tdlarge-12 tdsmall-12 tdcolumns">
                    <div class="tdlarge-3 tdsmall-12 tdcolumns">
                        {{#if ../repeat}}
                            <i class="fa icon-repeat repeat-on repeat-init"></i>
                        {{else}}
                            <i class="fa icon-repeat repeat-init"></i>
                        {{/if}}
                    </div>
                    <div class="tdlarge-6 tdsmall-12 tdcolumns button-controls">
                        <i class="icon-angle-double-left player-prev prev"></i>
                        <i class="icon-play-circle-outline player-play play"></i>
                        <i class="icon-angle-double-right player-next next"></i>
                    </div>
                    <div class="volume-controls tdlarge-3 tdsmall-12 tdcolumns">
                        <i class="fa icon-volume-up fw volume-init"></i>
                        <div class="tdlarge-12 tdmsall-12 tdcolumns tdlarge-centered tdmsall-centered volume-select" style="display:none;">
                            <i class="icon-volume-off volume-off" data-class="icon-volume-off"></i>
                            <i class="icon-volume-down volume-med" data-class="icon-volume-down"></i>
                            <i class="fa icon-volume-up volume-max volume-active" data-class="fa icon-volume-up fw"></i>
                        </div>
                    </div>
                </div>
            </div>
            {{#if error}}
                <div class="tdrow">
                    <div class="tdlarge-12 tdsmall-12 tdcolumns">
                        <div class="tdlarge-12 tdsmall-12 tdcolumns track-error-box">
                            <span class="track-error-box-span"><i class="fa fw fa-warning"></i> {{errorMessage}} </span>
                        </div>
                    </div>
                </div>
            {{else}}
                {{#if streamable}}
                    <div class="tdrow scrubber">
                        <div class="tdlarge-12 tdsmall-12 tdcolumns scrubber-box">
                            <div class="tdlarge-2 tdsmall-2 tdcolumns start-time">0:00</div>
                            <div class="tdlarge-8 tdsmall-8 tdcolumns scrub-bar-box">
                                <input type="text" class="scrubber-slider">
                            </div>
                            <div class="tdlarge-2 tdsmall-2 tdcolumns stop-time">
                                {{msToTimestamp nowPlaying.duration}}
                                <i class="icon-circle-o-notch spin tdloader"></i>
                            </div>
                        </div>
                    </div>
                {{else}}
                    <div class="tdrow">
                        <div class="tdlarge-12 tdsmall-12 tdcolumns">
                            <div class="tdlarge-12 tdsmall-12 tdcolumns track-error-box">
                                <span class="track-error-box-span"><i class="fa fw fa-warning"></i> This track is not streamable.</span>
                            </div>
                        </div>
                    </div>
                {{/if}}
            {{/if}}
        {{/with}}
        <div class="tdrow playlist">
            <table class="playlist-table" border=1>
                {{#each tracks}}
                    {{#if playing}}
                        <tr class="playing">
                    {{else}}
                        <tr class="track-info" data-index={{@index}}>
                    {{/if}}
                        {{#if playing}}
                            <td width="20"><i class="icon-play-circle-fill current-play-icon" data-index={{@index}}></i></td>
                        {{else}}
                            <td><div class="track-info" data-index={{@index}}></td>
                        {{/if}}
                            <td>
                                <div class="track-info-name tdlarge-12 tdsmall-12 tdcolumns">
                                    {{title}}
                                </div>
                            </td>
                            <td class="track-info-stats" style="width:40%">
                                <div class="track-info-social tdlarge-12 tdsmall-12 tdcolumns">
                                    <div class="track-info-plays tdsmall-4 tdlarge-4 tdcolumns">
                                        <i class="icon-play-circle-fill playlist-social-icon"></i>
                                        {{commanator playback_count}}
                                    </div>
                                    <div class="track-info-favorites tdsmall-4 tdlarge-4 tdcolumns">
                                        <i class="icon-heart playlist-social-icon"></i>
                                        {{commanator favoritings_count}}
                                    </div>
                                    {{!-- <div class="track-info-downloads tdlarge-3 tdsmall-3 tdcolumns">
                                        <i class="fa fa-download fw playlist-social-icon"></i>
                                        {{download_count}}
                                    </div> --}}
                                </div>
                            </td>
                    </tr>
                {{/each}}
            </div>
        </div>
    </div>
</div>
