<div class="td tdrow player {{skin}} solo">
    {{#unless nowPlaying}}
    <div class="tdspinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
    {{/unless}}
    <div class="tdlarge-12 tdsmall-12 tdcolumns tdlarge-centered tdsmall-centered">
        <a href="https://www.toneden.io" target="_blank" class="td-icon-link"><i class="td-icon"></i></a>
        {{#with nowPlaying}}
            <div class="header tdlarge-4 tdsmall-12 tdcolumns">
                <div class="cover tdlarge-12 tdsmall-12 tdcolumns">
                    <div class="solo-cover">
                        {{#if artwork_url}}
                            <img src="{{artwork_url}}" />
                        {{else}}
                            <img src="{{user.avatar_url}}" />
                        {{/if}}
                    </div>
                    <div class="controls">
                        <div class="buttons tdlarge-12 tdsmall-12 tdcolumns">
                            <i class="fa fa-angle-double-left fw player-prev prev"></i> 
                            <i class="fa fa-play-circle-o fw player-play play"></i>
                            <i class="fa fa-angle-double-right fw player-next next"></i>
                        </div>
                    </div>
                </div>
                <div class="waveform tdlarge-12 tdsmall-12 tdcolumns">
                </div>
                <div class="solo-buttons tdlarge-12 tdsmall-12 tdcolumns">
                    {{#ifCond purchase_url download_url}}
                        <div class="follow tdlarge-6 tdsmall-12 tdcolumns">
                            <a class="tdbutton expand follow-link" href="{{permalink_url}}"  target="_blank">
                                <i class="fa soundcloud-icon fw playlist-social-icon"></i>
                                FOLLOW
                            </a>
                        </div>
                    {{else}}
                        <div class="follow tdlarge-12 tdsmall-12 tdcolumns">
                            <a class="tdbutton expand follow-link" href="{{permalink_url}}"  target="_blank">
                                <i class="fa soundcloud-icon fw playlist-social-icon"></i>
                                FOLLOW
                            </a>
                        </div>
                    {{/ifCond}}
                    {{#if purchase_url}}
                        <div class="buy tdlarge-6 tdsmall-12 tdcolumns">
                            <a class="tdbutton expand  buy-link" href="{{purchase_url}}" target="_blank">
                                BUY
                            </a>
                        </div>
                    {{else}}
                        {{#if download_url}}    
                            <div class="buy tdlarge-6 tdsmall-12 tdcolumns">
                                <a class="tdbutton expand buy-link" href="{{download_url}}" target="_blank">
                                    DOWNLOAD
                                </a>
                            </div>
                        {{/if}}
                    {{/if}}
                </div>
            </div>
            <div class="solo-container tdlarge-8 tdsmall-12 tdcolumns">
                <div class="tdrow info-solo">
                    <div class="tdlarge-2 tdsmall-12 tdcolumns repeat-column">
                        {{#if ../repeat}}
                            <i class="fa fa-repeat repeat-on fw repeat-init"></i>
                        {{else}}
                            <i class="fa fa-repeat fw repeat-init"></i>
                        {{/if}}
                    </div>
                    <div class="tdlarge-8 tdsmall-12 tdcolumns info">
                        <div class="song-name tdlarge-12 tdsmall-12 tdcolumns">
                            <a href="{{permalink_url}}" target="_blank">{{title}}</a>
                        </div>
                        <div class="artist-name tdlarge-12 tdsmall-12 tdcolumns">
                            <a href="{{user.permalink_url}}" target="_blank">{{user.username}}</a>
                        </div>
                    </div>
                    <div class="volume-controls tdlarge-2 tdsmall-12 tdcolumns">
                        <i class="fa fa-volume-up fw volume-init"></i>
                        <div class="tdlarge-12 tdmsall-12 tdcolumns tdlarge-centered tdmsall-centered volume-select" style="display:none;">
                            <i class="fa fa-volume-off fw volume-off" data-class="fa fa-volume-off fw"></i>
                            <i class="fa fa-volume-down fw volume-med" data-class="fa fa-volume-down fw"></i>
                            <i class="fa fa-volume-up fw volume-max volume-active" data-class="fa fa-volume-up fw"></i>
                        </div>
                    </div>
                </div>
                <div class="tdrow scrubber">
                    <div class="tdlarge-12 tdsmall-12 tdcolumns scrubber-box">
                        <div class="tdlarge-2 tdsmall-2 tdcolumns start-time">0:00</div>
                        <div class="tdlarge-8 tdsmall-8 tdcolumns scrub-bar-box">
                            <input type="text" class="scrubber-slider">
                        </div>
                        <div class="tdlarge-2 tdsmall-2 tdcolumns stop-time">
                            {{msToTimestamp nowPlaying.duration}}
                            <i class="fa fw fa-spinner fa-spin tdloader"></i>
                        </div>
                    </div>
                </div>
                <div class="tdrow social">
                    <div class="current-song-info tdlarge-12 tdcolumns tdsmall-12">
                        <div class="track-info-plays tdlarge-4 tdsmall-4 tdcolumns">
                            <i class="fa fa-play-circle fw current-song-social-icon"></i>
                            {{commanator playback_count}}
                        </div>
                        <div class="track-info-favorites tdlarge-4 tdsmall-4 tdcolumns">
                            <i class="fa fa-heart fw current-song-social-icon"></i>
                            {{commanator favoritings_count}}
                        </div>
                        <div class="track-info-comments tdlarge-4 tdsmall-4 tdcolumns">
                            <i class="fa fa-comments fw current-song-social-icon"></i>
                            {{commanator comment_count}}
                        </div>
                        {{!-- <div class="track-info-downloads tdlarge-3 tdsmall-3 tdcolumns">
                            <i class="fa fa-download fw current-song-social-icon"></i>
                            {{download_count}}
                        </div> --}}
                    </div>
                </div>
            {{/with}}
        </div>
    </div>
</div>
