<div class="td tdrow player {{skin}} feed">
    {{#unless nowPlaying}}
    <div class="tdspinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
    {{/unless}}
        {{!-- <a href="https://www.toneden.io" target="_blank" class="icon-td_logo-link"><i class="icon-td_logo"></i></a> --}}
    {{#with nowPlaying}}
        <div class="tdlarge-12 tdsmall-12 tdcolumns tdlarge-centered tdsmall-centered">
            <div class="controls tdlarge-2 tdsmall-3 tdcolumns">
                <div class="buttons tdlarge-12 tdsmall-12 tdcolumns">
                    <i class="icon-play-circle-outline player-play play"></i>
                </div>
            </div>
            <div class="feed-container tdlarge-10 tdsmall-9 tdcolumns">
                <div class="tdrow info-feed">
                    <div class="tdlarge-12 tdsmall-12 tdcolumns info">
                        <div class="song-name tdlarge-12 tdsmall-12 tdcolumns">
                            <a href="{{permalink_url}}" target="_blank">{{title}}</a>
                        </div>
                        <div class="artist-name tdlarge-12 tdsmall-12 tdcolumns">
                            <a href="{{user.permalink_url}}" target="_blank">{{user.username}}</a>
                        </div>
                    </div>
                </div>
                {{#if error}}
                    <div class="tdrow">
                        <div class="tdlarge-12 tdsmall-12 tdcolumns">
                            <div class="tdlarge-12 tdsmall-12 tdcolumns track-error-box">
                                <span class="track-error-box-span"><i class="fa fw fa-warning"></i> {{errorMessage}} </span>
                            </div>
                        </div>
                    </div>
                {{else}}
                    {{#if streamable}}
                    {{else}}
                        <div class="tdrow">
                            <div class="tdlarge-12 tdsmall-12 tdcolumns">
                                <div class="tdlarge-12 tdsmall-12 tdcolumns track-error-box">
                                    <span class="track-error-box-span"><i class="fa fw fa-warning"></i> This track is not streamable.</span>
                                </div>
                            </div>
                        </div>
                    {{/if}}
                {{/if}}
            </div>
        </div>
    {{/with}}
</div>
