<div class="row">
    <div class="small-8 columns small-centered player">
        {{#with nowPlaying}}
            <div class="header row">
                <div class="cover small-7 columns">
                    <a href="{{permalink_url}}">
                        {{#if artwork_url}}
                            <img src="{{artwork_url}}" />
                        {{else}}
                            <img src="{{user.avatar_url}}" />
                        {{/if}}
                    </a>
                </div>
                <div class="waveform small-5 columns">
                </div>
            </div>
            <div class="row info ">
                <div class="song-name small-6 columns">
                    {{title}}
                </div>
                <div class="artist-name small-6 columns">
                    {{user.username}}
                </div>
            </div>
            <div class="row social">
                <div class="follow small-3 columns">
                    <a class="follow-link" target="_blank">
                        FOLLOW
                    </a>
                </div>
                <div class="current-song-info small-6 columns">
                    <div class="track-info-plays small-3 columns">
                        {{playback_count}}
                    </div>
                    <div class="track-info-favorites small-3 columns">
                        {{favoritings_count}}
                    </div>
                    <div class="track-info-comments small-3 columns">
                        {{comment_count}}
                    </div>
                    <div class="track-info-downloads small-3 columns">
                        {{download_count}}
                    </div>
                </div>
                {{#if purchase_url}}
                    <div class="buy small-3 columns">
                        <a class="buy-link" href="{{purchase_url}}" target="_blank">
                            BUY
                        </a>
                    </div>
                {{/if}}
            </div>
        {{/with}}
        <div class="row controls">
            <div class="buttons small-12 columns">
                <i class="fa fa-angle-double-left fw player-prev"></i>
                <i class="fa fa-play-circle-o fw player-play"></i>
                <i class="fa fa-angle-double-right fw player-next"></i>
            </div>
        </div>
        <div class="row playlist">
            {{#each tracks}}
                {{#if playing}}
                    <div class="track-info row playing" data-index={{@index}}>
                {{else}}
                    <div class="track-info row" data-index={{@index}}>
                {{/if}}
                    <div class="track-info-name small-5 columns">
                        {{title}}
                    </div>
                    <div class="track-info-social small-7 columns">
                        <div class="track-info-plays small-3 columns">
                            {{playback_count}}
                        </div>
                        <div class="track-info-favorites small-3 columns">
                            {{favoritings_count}}
                        </div>
                        <div class="track-info-comments small-3 columns">
                            {{comment_count}}
                        </div>
                        <div class="track-info-downloads small-3 columns">
                            {{download_count}}
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>
