<div class="td tdrow player {{skin}} feed">
    {{#unless nowPlaying}}
    <div class="tdspinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
    {{/unless}}
    <div class="tdlarge-12 tdsmall-12 tdcolumns tdlarge-centered tdsmall-centered">
        {{#with nowPlaying}}
            <div class="header tdlarge-2 tdsmall-12 tdcolumns">
                <div class="cover tdlarge-12 tdsmall-12 tdcolumns">
                    <div class="feed-cover">
                        {{#if artwork_url}}
                            <img src="{{artwork_url}}" />
                        {{else}}
                            <img src="{{user.avatar_url}}" />
                        {{/if}}
                    </div>
                    <div class="controls">
                        <div class="buttons tdlarge-12 tdsmall-12 tdcolumns">
                            <i class="tdicon-play-circle-outline player-play play"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="feed-container tdlarge-10 tdsmall-12 tdcolumns">
                <div class="tdrow info-feed">
                    <div class="tdlarge-12 tdsmall-12 tdcolumns info">
                        <div class="song-name tdlarge-12 tdsmall-12 tdcolumns">
                            <a href="{{permalink_url}}" target="_blank">{{title}}</a>
                        </div>
                        <div class="artist-name tdlarge-12 tdsmall-12 tdcolumns">
                            <a href="{{user.permalink_url}}" target="_blank">{{user.username}}</a>
                        </div>
                    </div>
                </div>
                {{#if error}}
                    <div class="tdrow">
                        <div class="tdlarge-12 tdsmall-12 tdcolumns">
                            <div class="tdlarge-12 tdsmall-12 tdcolumns track-error-box">
                                <span class="track-error-box-span"><i class="tdicon-warning"></i> {{errorMessage}} </span>
                            </div>
                        </div>
                    </div>
                {{else}}
                    {{#if streamable}}
                        <div class="tdrow"></div>
                    {{else}}
                        <div class="tdrow">
                            <div class="tdlarge-12 tdsmall-12 tdcolumns">
                                <div class="tdlarge-12 tdsmall-12 tdcolumns track-error-box">
                                    <span class="track-error-box-span"><i class="tdicon-warning"></i> This track is not streamable.</span>
                                </div>
                            </div>
                        </div>
                    {{/if}}
                {{/if}}
                <div class="tdrow social">
                    <div class="current-song-info tdlarge-12 tdcolumns tdsmall-12">
                        <div class="track-info-plays tdlarge-10 tdsmall-10 tdcolumns">
                            <i class="tdicon-play-circle-fill current-song-social-icon"></i>
                            {{commanator playback_count}}
                        </div>
                        <div class="feed-buttons tdlarge-2 tdsmall-2 tdcolumns">
                            {{#ifCond purchase_url download_url}}
                                <div class="follow tdlarge-6 tdsmall-12 tdcolumns">
                                    <a class="tdbutton expand follow-link" href="{{permalink_url}}"  target="_blank">
                                        <i class="tdicon-soundcloud playlist-social-icon"></i>
                                    </a>
                                </div>
                            {{else}}
                                <div class="follow tdlarge-12 tdsmall-12 tdcolumns">
                                    <a class="tdbutton expand follow-link" href="{{permalink_url}}"  target="_blank">
                                        <i class="tdicon-soundcloud playlist-social-icon"></i>
                                    </a>
                                </div>
                            {{/ifCond}}
                            {{#ifCond purchase_url download_url}}
                                <div class="buy tdlarge-6 tdsmall-12 tdcolumns">
                                    <a class="tdbutton expand buy-link" href="{{purchase_url}}" target="_blank">
                                        <i class="tdicon-file-download playlist-social-icon"></i>
                                    </a>
                                </div>
                            {{else}}
                                {{#if download_url}}    
                                    <div class="buy tdlarge-6 tdsmall-12 tdcolumns">
                                        <a class="tdbutton expand buy-link" href="{{download_url}}?client_id=6f85bdf51b0a19b7ab2df7b969233901" target="_blank">
                                            <i class="tdicon-file-download playlist-social-icon"></i>
                                        </a>
                                    </div>
                                {{/if}}
                            {{/ifCond}}
                        </div>
                    </div>
                </div>
            {{/with}}
        </div>
    </div>
</div>
